* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body,
html {
    height: 100%;
}

.first-page {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    color: #fff;
    position: absolute;
}

.top-nav {
    width: 90%;
    height: 30px;
    border: 1px solid black;
    position: relative;
    padding: 10px;
    margin: 15px auto;
}

.tittle {
    width: 200px;
    line-height: 30px;
    font-size: 30px;
    text-align: center;
    float: left;
}

.three-button {
    float: right;
}

.three-button>li {
    float: right;
    width: 50px;
    text-align: center;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 5px;
    font-size: 12px;
    vertical-align: center;
}

.three-button span {
    margin-left: 5px;
}

.three-button>li:hover {
    background-color: rgba(200, 200, 200, 0.2);
}

.three-button a {
    color: #fff;
}

.container {
    width: 80%;
    height: 50%;
    margin: 140px auto;
    border: 1px solid black;
}

.big-logo {
    font-size: 50px;
    width: 300px;
    height: 80px;
    line-height: 80px;
}

.bigsentence {
    font-size: 30px;
    width: 400px;
    text-align: center;
    height: 50px;
    height: 80px;
    line-height: 80px;
}

.two-button {
    height: 80px;
    width: 350px;
    border: 1px solid black;
    margin-left: 200px;
}

.two-button>div {
    width: 80px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
    padding: 5px 18px;
    border-radius: 3px;
    border: 2px solid #fff;
    font-size: 12px;
    cursor: pointer;
}

.two-button span {
    margin-left: 5px;
}

.left-button {
    float: left;
    margin-left: 20px;
    background-color: #fff;
    color: #000;
}

.left-button:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18);
}

.right-button {
    float: right;
    margin-right: 20px;
}

.right-button:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18);
}

.arrow {
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    margin: 0 auto;
    animation: bounce 3s infinite;
}


/* @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
} */

.second-page {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
}

.content {
    height: 100%;
    width: 100%;
}

.four-rows {
    height: 35%;
    width: 100%;
    color: #fff;
}

.row {
    height: 100%;
    width: 25%;
    float: left;
    text-align: center;
}

.row1 {
    background-color: #7e57c2;
}

.row2 {
    background-color: #ab47bc;
}

.row3 {
    background-color: #26a69a;
}

.row4 {
    background-color: #29b6f6;
}

.row div {
    font-size: 12px;
    opacity: 0;
}


/* .big1 {
    animation-delay: 2s;
    animation: zoomIn 1.2s 1 ease-in-out;
}

.big2 {
    animation-delay: 4s;
    animation: zoomIn 1.2s 1 ease-in-out;
}

.big3 {
    animation-delay: 6s;
    animation: zoomIn 1.2s 1 ease-in-out;
}

.big4 {
    animation-delay: 8s;
    animation: zoomIn 1.2s 1 ease-in-out;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
} */

.why {
    background-color: #f5f5f5;
}


/* 登录框 */

.register,
.login {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
}

.register .mask,
.login .mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.register .register-form,
.login .register-form {
    position: absolute;
    width: 500px;
    height: 400px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -225px;
    color: #000;
    text-align: center;
}

.register .register-form label,
.login .register-form label {
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
}

.register .register-form img,
.login .register-form img {
    width: 120px;
    height: 30px;
    border: 1px solid black;
}

.register h1,
.login h1 {
    text-align: center;
    padding: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 20px 10px;
}