/* 导航栏 */

header .navbar-default {
    background-color: transparent;
    border: none;
    padding: 12px 0;
}

header .navbar .navbar-header .icon-bar {
    background-color: #000;
}

header .navbar .navbar-header button {
    border: none;
}

header .navbar .navbar-header a img {
    width: 40px;
    height: 40px;
}

header .navbar .navbar-header button,
header .navbar .navbar-header button:hover,
header .navbar .navbar-header button:active,
header .navbar .navbar-header button.collapsed {
    background-color: transparent;
}

header .navbar-default .navbar-header .navbar-brand,
header .navbar-default .navbar-nav>.active>a,
header .navbar-default .navbar-nav>.active>a:hover,
header .navbar-default .navbar-nav>.active>a:focus {
    color: #000;
}

header .navbar-default .navbar-nav>.active>a,
header .navbar-default .navbar-nav>.active>a:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

header .navbar-default .navbar-nav>.active>a:hover,
header .navbar-default .navbar-nav>li>a:hover {
    background: rgba(200, 200, 200, 0.2);
    color: #000;
    border-radius: 4px;
}

header .navbar-default .navbar-nav>li>a {
    color: #000;
    margin-right: 30px;
}

header .navbar-default .navbar-nav>li>a>span {
    margin-left: 10px;
}

header .navbar .navbar-collapse {
    border-color: #fff;
}


/* 导航栏 */


/* 框 */

.form {
    margin-top: 10%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px 0;
}

.form form .img-captcha {
    display: none;
}

.form form div {
    padding-top: 20px;
}

.form form div input {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid #ddd;
}

.form form div input::placeholder {
    padding-left: 10px;
}

.form form .img-captcha input {
    width: 150px;
    margin-left: 50px;
}

.form form div input:focus {
    outline: none;
}

.form form div button {
    background-color: #1a73e8;
}

.form form div a {
    color: #1a73e8;
    font-size: 16px;
}


/* 框 */