/* 左栏 */

dl dt,
dl dd {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}

dl dt {
    padding-left: 8px;
    font-weight: bold;
}

dl dd {
    padding-left: 30px;
    cursor: pointer;
}

dl dd:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-right: 2px solid #2d8cf0;
}

dl dd.active {
    border-right: 2px solid #2d8cf0;
}


/* 左栏 */


/* 右栏 */

.right-content>div {
    display: none;
}

.right-content>div.show {
    display: block;
}


/* 基本信息栏 */

.right-content .info-basic {
    padding: 50px;
}

.right-content div form div {
    padding: 20px;
}

.right-content div form div input {
    border-radius: 3px;
    border: 1px solid #ddd;
}


/* 基本信息栏 */


/* 头像设置 */

.right-content .info-portrait {
    padding: 50px;
}

.right-content .info-portrait .portrait-select {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    background-color: #ccc;
    float: left;
}

.right-content .info-portrait .portrait-select p {
    display: inline-block;
    margin-top: 90px;
    font-size: 16px;
}

.right-content .info-portrait .portrait-select .portrait-basic {
    width: 200px;
    height: 200px;
}

.right-content .info-portrait #portrait-input {
    display: none;
}

.right-content .info-portrait .portrait-example {
    width: 200px;
    height: 200px;
    float: right;
    border: 1px solid black;
}


/* 头像设置 */


/* 右栏 */