.index-footer{
  background-color: #303f9f;
  color: rgba(255, 255, 255, 0.6);
  .index-footer-content{
    text-align: center;
    a {
      color: rgba(255, 255, 255, 0.6);
    }
  
    .footer-img {
      width: 100px;
      height: 80px;
    }
  
    div {
      background-color: rgba(0, 0, 0, 0.2);
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}